---
swagger: '2.0'
info:
  version: v1
  title: HealowHealthApi
host: cdaxwu01.devad.devcorp.wellcare.com:4433
schemes:
- https
paths:
  "/api/SearchHealowMemberCG/HealowMemberCGDetails":
    get:
      tags:
      - SearchHealowMemberCG
      operationId: SearchHealowMemberCG_HealowMemberCGDetails
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: reqHeader.applicationId
        in: query
        required: false
        type: string
      - name: reqHeader.channelId
        in: query
        required: false
        type: string
      - name: reqHeader.interactionId
        in: query
        required: false
        type: string
      - name: reqHeader.entityInfos.entityId
        in: query
        required: false
        type: string
      - name: reqHeader.entityInfos.entityType
        in: query
        required: false
        type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
  "/api/searchhealowmembercg/v41searchhlmemberwithgapincare":
    post:
      tags:
      - SearchHealowMemberCG
      operationId: SearchHealowMemberCG_V41SearchHlMemberWithGapInCare
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: HlMembReq
        in: body
        required: true
        schema:
          "$ref": "#/definitions/Hl41Request"
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/WellCareHlMemberVer41Response"
  "/api/searchhealowmembercg/v52searchhlMembegapincarehccsc":
    post:
      tags:
      - SearchHealowMemberCG
      operationId: SearchHealowMemberCG_V52SearchHlMembeGapInCareHCCSC
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: reqHder
        in: body
        required: true
        schema:
          "$ref": "#/definitions/V52HLReqMember"
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/WellcareHlMemberInsighsResponse"
  "/api/searchhealowmembercg/searchhlmemberwithcaregap":
    post:
      tags:
      - SearchHealowMemberCG
      operationId: SearchHealowMemberCG_SearchHlMemberWithCareGap
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: reqHder
        in: body
        required: true
        schema:
          "$ref": "#/definitions/RequestHealowMember"
      responses:
        '200':
          description: OK
          schema:
            "$ref": "#/definitions/WellcareHlMemberInsighsResponse"
definitions:
  requestHeaderInfo:
    type: object
    properties:
      applicationId:
        type: string
      channelId:
        type: string
      interactionId:
        type: string
      entityInfos:
        "$ref": "#/definitions/entityInfo"
  entityInfo:
    type: object
    properties:
      entityId:
        type: string
      entityType:
        type: string
  Hl41Request:
    type: object
    properties:
      resourceType:
        type: string
      identifier:
        type: string
      parameter:
        type: array
        items:
          "$ref": "#/definitions/HlParameter"
  HlParameter:
    type: object
    properties:
      member_id:
        type: string
      member_dob:
        type: string
      encounter_id:
        type: string
      member_first_name:
        type: string
      member_last_name:
        type: string
      provider_tin:
        type: string
      provider_npi:
        type: string
      provider_name:
        type: string
      scheduled_appointment_date:
        format: date-time
        type: string
      return_doc_data_interchange_format:
        type: string
      apu_id:
        type: string
  WellCareHlMemberVer41Response:
    type: object
    properties:
      data:
        "$ref": "#/definitions/ResponseData"
      errors:
        type: array
        items:
          "$ref": "#/definitions/HLErrors"
      success:
        type: boolean
      status:
        type: string
      response_time:
        format: int32
        type: integer
      response_timestamp:
        type: string
      ht_txn_id:
        type: string
  ResponseData:
    type: object
    properties:
      member_summary_fhir_doc:
        "$ref": "#/definitions/FHIR_doc"
  HLErrors:
    type: object
    properties:
      name:
        type: string
      description:
        type: string
      error_code:
        format: int32
        type: integer
      error_details:
        type: string
  FHIR_doc:
    type: object
    properties:
      resource_type:
        type: string
      id:
        type: string
      content_type:
        type: string
      content:
        type: string
  V52HLReqMember:
    type: object
    properties:
      member_request:
        "$ref": "#/definitions/RequestMember"
  RequestMember:
    type: object
    properties:
      hI_request_Id:
        type: string
      providernpi:
        type: string
      providertin:
        type: string
      last_name:
        type: string
      first_name:
        type: string
      date_of_birth:
        format: date-time
        type: string
      gender:
        type: string
      zip:
        type: string
      Insurance_name:
        type: string
      Ins_SubscriberId:
        type: string
      encounterid:
        type: string
      encounterdate:
        format: date-time
        type: string
      apuid:
        type: string
      emrversion:
        type: string
      requestsource:
        type: string
  WellcareHlMemberInsighsResponse:
    type: object
    properties:
      member_data:
        "$ref": "#/definitions/Hlmember_data"
      gic_data:
        "$ref": "#/definitions/Gic_data"
      general_alert_data:
        "$ref": "#/definitions/General_alert_dataInfo"
      pce_hcc_data:
        "$ref": "#/definitions/Pce_hcc_data"
      pce_sc_data:
        "$ref": "#/definitions/Pce_sc_data"
  Hlmember_data:
    type: object
    properties:
      hI_request_Id:
        type: string
      txn_id:
        type: string
      code:
        format: int32
        type: integer
      member:
        "$ref": "#/definitions/memberinfo"
      Insurance_name:
        type: string
      Ins_subscriberid:
        type: string
      Ins_id_suffix:
        type: string
      matched_flag:
        type: string
      matched_flag_msg_code:
        type: string
      enrollment_end_date:
        format: date-time
        type: string
      records_processed:
        format: int32
        type: integer
  Gic_data:
    type: object
    properties:
      gic_data_infotext:
        type: string
      gic_data_list:
        type: array
        items:
          "$ref": "#/definitions/Gic_info"
  General_alert_dataInfo:
    type: object
    properties:
      alert_infotext:
        type: string
      general_alert_data:
        type: array
        items:
          "$ref": "#/definitions/Alerts_data_info"
  Pce_hcc_data:
    type: object
    properties:
      pce_hcc_data_infotext:
        type: string
      hcc_data:
        type: array
        items:
          "$ref": "#/definitions/Hcc_data_info"
  Pce_sc_data:
    type: object
    properties:
      pce_sc_infotext:
        type: string
      sc_data:
        type: array
        items:
          "$ref": "#/definitions/Pce_sc_info"
  memberinfo:
    type: object
    properties:
      uid:
        type: string
      zip:
        type: string
      date_of_birth:
        format: date-time
        type: string
      gender:
        type: string
      first_name:
        type: string
      last_name:
        type: string
  Gic_info:
    type: object
    properties:
      gic_id:
        type: string
      gic_code:
        type: string
      gic_name:
        type: string
      gic_due_date:
        format: date-time
        type: string
      measurement_period_start:
        format: date-time
        type: string
      measurement_period_end:
        format: date-time
        type: string
      gic_last_done_date:
        format: date-time
        type: string
      gic_status:
        type: string
      gic_satisfier_value:
        type: string
      gic_satisfier_type:
        type: string
  Alerts_data_info:
    type: object
    properties:
      alert_id:
        type: string
      alert_name:
        type: string
      alert_text:
        type: string
      alert_onset_date:
        format: date-time
        type: string
      alert_due_date:
        format: date-time
        type: string
      alert_type:
        type: string
      alert_additional_info:
        type: string
  Hcc_data_info:
    type: object
    properties:
      pce_hcc_record_id:
        type: string
      pce_hcc_cat_code:
        type: string
      pce_hcc_description:
        type: string
      pce_hcc_period1_start:
        format: date-time
        type: string
      pce_hcc_period1_end:
        format: date-time
        type: string
      pce_hcc_period1_value:
        type: string
      pce_hcc_period2_start:
        format: date-time
        type: string
      pce_hcc_period2_end:
        format: date-time
        type: string
      pce_hcc_period2_value:
        type: string
      pce_hcc_period3_start:
        format: date-time
        type: string
      pce_hcc_period3_end:
        format: date-time
        type: string
      pce_hcc_period3_value:
        type: string
      pce_hcc_period4_start:
        format: date-time
        type: string
      pce_hcc_period4_end:
        format: date-time
        type: string
      pce_hcc_period4_value:
        type: string
      pce_hcc_laststatus_date:
        format: date-time
        type: string
      pce_hcc_supporting_evidence:
        type: string
      pce_hcc_additional_info:
        type: string
      supporting_icd_record_id:
        format: int32
        type: integer
      supporting_icd_code:
        type: string
      supporting_icd_description:
        type: string
      icd_status_date:
        format: date-time
        type: string
      icd_supporting_evidence:
        type: string
  Pce_sc_info:
    type: object
    properties:
      pce_sc_record_id:
        type: string
      pce_sc_description:
        type: string
      pce_sc_onset_date:
        format: date-time
        type: string
      pce_sc_supporting_evidence:
        type: string
  RequestHealowMember:
    type: object
    properties:
      requestHeader:
        "$ref": "#/definitions/requestHeaderInfo"
      member_request:
        "$ref": "#/definitions/RequestMember"
